
table {
    border-collapse: collapse;
    margin-bottom:50px;
}

table, th, td {
    border: 1px solid black;
}

body {
    background-image: url(./background.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
}

header {
    background-image: url(./header.jpg);
    padding: 1px;
    text-align: center;
    font-size: 35px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

p {
    font-size: 14px;
}

h5 {
    font-size: 
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}